* {
  padding: 0;
  margin: 0;
  font-family: 'Microsoft YaHei', 'SF Pro Display', Roboto, Noto, Arial,
    'PingFang SC', sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.header-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10rem;
}

textarea {
  border: none;
  outline: none;
  background: none;
  resize: none;
}

.num {
  line-height: 300px;
}

.ysgx,
.wsgx {
  line-height: 150px;
}

ul {
  list-style: none;
  margin-top: 3rem;
}
ul li {
  margin-top: 1rem;
}
